DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_AUTO_LOAD_ENTITIES=
DB_SYNCHRONIZE=

JWT_SECRET=

#TELEGRAM
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_STAT_CHAT_ID=

SMS_BASE_URL=
SMS_API_KEY=
SMS_EMAIL_COMPANY=

SIGMA_SMS_BASE_URL=
SIGMA_SMS_API_KEY=

REDIS_URL=

# SDEK
SDEK_BASE_URL=
SDEK_CLIENT_ID=
SDEK_CLIENT_SECRET=
SDEK_ACCESS_TOKEN_CACHE_SECRET

FRONTEND_URL=

# YOUKASSA
YOUKASSA_BASE_URL=
YOUKASSA_IDENPOTENT_KEY=
YOUKASSA_SHOP_ID=
YOUKASSA_SECRET_KEY=
RETURNURL_FOR_YOUKASSA=
YOUKASSA_TRUST_IPS=

# TOCHKA
TOCHKA_BASE_URL=
TOCHKA_API_KEY=
TOCHKA_WEBHOOK_PUBLIC_KEY_PEM=

#emaiL
UNISENDER_API_KEY=
UNISENDER_API_URL=
THECREATOR_MAIL=